footer {
    display: block;
    background-color: #f1f1f1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

ul li {
    display: inline-block;
}

li a {
     display: block;
     color: #000;
     padding: 8px 16px;
     text-decoration: none;
}

li a:hover {
      background-color: #555;
      color: white;
}

.padding {
  padding-left: 10px;
  padding-right: 10px;
}

.center {
  text-align: center;
}

button {
  padding:5px 15px; 
  background: #e5736b; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
}

button:hover {
    background-color: #c96760;
}

/* button siding */
.left {
  text-align: left;
}

.right {
  text-align: right;
}

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

.vertical1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.vertical2 {
    display: block;
    width: 60px;
    background-color: #dddddd;
}
